<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731934418481-56podjt2ktgntqinh4lgq46k40dj8nfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731934418481-56podjt2ktgntqinh4lgq46k40dj8nfe</string>
	<key>API_KEY</key>
	<string>AIzaSyBkqcFHIBvvaT1Goy7ERMrG3X2xeyZfFwc</string>
	<key>GCM_SENDER_ID</key>
	<string>731934418481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wisdomfabrics.wisdomfabrics</string>
	<key>PROJECT_ID</key>
	<string>wisdomfabrics-623a3</string>
	<key>STORAGE_BUCKET</key>
	<string>wisdomfabrics-623a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731934418481:ios:50d6e86bff20b9af919710</string>
</dict>
</plist>